PORT=3000

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=orders
DATABASE_PASSWORD=orders
DATABASE_NAME=orders
TYPEORM_SYNC=true
TYPEORM_LOGGING=false

POSTGRES_USER=orders
POSTGRES_PASSWORD=orders
POSTGRES_DB=orders
POSTGRES_PORT=5432

RABBITMQ_HOST=localhost
RABBITMQ_USER=orders
RABBITMQ_PASSWORD=orders
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_URL=amqp://orders:orders@localhost:5672
RABBITMQ_ORDERS_QUEUE=orders
